{% extends 'base.html' %}

{% block title %}
Parking system|Home
{% endblock %}
{% load staticfiles %}
{% block content %}

<div style="width:100%;text-align: center;margin: 0 auto;position: absolute;">
    <!--  -->
    
    <div id="windows1">
        <div id="loginbox">
            <h1>Welcome to the parking management system
            </h1>
            {% if user.is_authenticated %}

            <h2 class="normal_text">Current user:{{ user.username }}</h2>
            
            {% else %}
            <h4 class="normal_text">To use this system, please log in to this system first.
            </h4>
            {% endif %}


            {% if user.is_superuser %}
            <a class="normal_text" href="/tariff/download_csv" type="button" >Want to check total billings</a>        

            {% endif %}

            {% if user.is_superuser %}
            <a class="normal_text" href="/admin" type="button" >Visit Admin Page</a>        
            {% endif %}

            {% if user.is_authenticated or user.is_superuser %}
            <a class="normal_text" href="/tariff/rates" type="button" >Want to check the tariff rates?</a>        
            
            {% endif %}

            {% if not user.is_authenticated %}
           
            <a class="normal_text" href="{% url 'login' %}">Log-in</a>
            
            <a class="normal_text" href="{% url 'register' %}">register</a>
            {% endif %}


            {% if  user.is_authenticated and not user.is_superuser  %}
            <a class="normal_text" href="/tariff/personal/{{ user.username}}">Check Bill</a>

            {% endif %}

            <div>
                <p> </p>

            </div>
            {% if user.is_authenticated %}
               <a class="normal_text" href="logout">Log-out</a>
            {% endif %}
            <div>

                 
                <p class="normal_text">Current remaining parking spaces:<b> {{ car_pos_num }} </b>个</p> 
                <!-- and not User_info.car_booking_status -->
                {% if user.is_authenticated and  not user.is_superuser  %}
                    <a class="normal_text" href="/carposition/index" type="button" >Booking parking space</a>        
                {% elif not user.is_authenticated %}
                    <a class="normal_text" type="button" disabled="disabled">Booking parking space [not logged in]</a>
                {% endif %}
            </div>
        </div>        
    </div>
    </div>            
</div>

<div id="templatemo_banner_slide" class="container_wapper">
    <div class="camera_wrap camera_emboss" id="camera_slide">
        <!-- Background picture -->
        <div data-src="{% static '/login/images/banner_slide_01.jpg' %}"></div>
        <div data-src="{% static '/login/images/banner_slide_02.jpg'  %}"></div>
        <div data-src="{% static '/login/images/banner_slide_03.jpg'  %}"></div>
        <div data-src="{% static '/login/images/banner_slide_04.jpg'  %}"></div>
        <div data-src="{% static '/login/images/banner_slide_05.jpg'  %}"></div>
    </div>
    <!-- #camera_wrap_3 -->
</div>

{% endblock %}