{% extends 'base.html' %}

{% block title %}
Parking system|Register
{% endblock %}
{% load staticfiles %}
{% block content %}
<div  id="regbg" style="width:100%;height: 100%;text-align: center;margin: 0 auto;position: absolute;"></div>
<div>
<div id="windows1">
     <div style="height: 40px;"></div>
<div id="loginbox" >
            {% if form.errors %}
            <p>Your username or email or car number is already taken. Please try again.</p>
          {% endif %}
        
        <form action="" method="post" name="loginForm" id="loginForm">
            <!-- {% csrf_token %} -->
            {% csrf_token %}
            <div class="control-group normal_text">					
                <h3 style="text-align:center";style="font-family:verdana;color:white;font-size:40px;">
                    Fill out the form and Register
                </h3>

            </div>
            <div style="height: 10px;"></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg">
                        <i><img height="37" src="{% static '/login/user.png' %}" /></i>
                        </span><input type="text" name="username" required id="id_username" id="loginname" value="" placeholder="Please type in your name" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg">
                            <i><img height="37" src="{% static '/login/user.png' %}" /></i>
                            </span><input type="email" name="email"  required required id="id_username" id="id_email" value="" placeholder="please input your email" />
                        </div>
                    </div>
                </div>
                <!-- <div class="control-group">
                        <div class="controls">
                            <div class="main_input_box">
                                <span class="add-on bg_ly">
                                <i><img height="37" src="{% static '/login/suo.png' %}" /></i>
                                </span><input type="text" name="idcar" required id="idcar" id="loginname" placeholder="Please enter your Car ID card" class="keypad" keypadMode="full" allowKeyboard="true" value=""/>
                            </div>
                        </div>
                </div> -->
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly">
                        <i><img height="37" src="{% static '/login/suo.png' %}" /></i>
                        </span><input type="password" name="password" required id="id_password" id="password" placeholder="Please enter your password" class="keypad" keypadMode="full" allowKeyboard="true" value=""/>
                    </div>
                </div>
            </div>
            <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly">
                            <i><img height="37" src="{% static '/login/suo.png' %}" /></i>
                            </span><input type="password" name="password_again" id="id_password_again" required placeholder="Enter the password again" class="keypad" keypadMode="full" allowKeyboard="true" value=""/>
                        </div>
                    </div>
                </div>
            
            <div style="float:right;padding-right:10%;position: relative; top: -5px;">
                <div style="float: left;margin-top:3px;margin-right:2px;">
                    <font color="white">Remember password</font>
                </div>
                <div style="float: left;">
                    <input name="form-field-checkbox" id="saveid" type="checkbox"
                        onclick="savePaw();" style="padding-top:0px;" />
                </div>
            </div>
            <div style="height: 20px;"></div>
            <div class="form-actions">
                <div style="width:86%; padding-left: 40px; ">                    
                    <span style="height: 20px; width: 70px;"><input onclick="severCheck();" class="flip-link btn btn-info" id="to-recover" type="submit" value="Register"></span>
                </div>
            </div>
        </form>
    </div>
    </div>
    
    
    
</div>

<!-- <form action="" method="POST">
    {% csrf_token %}
    {% for field in login_form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        <p>{{ field.errors.as_text }}</p>
    {% endfor %}
    <span>{{ login_form.non_field_errors }}</span>
    <input type="submit" value="登录">
</form> -->
{% endblock %}