{% extends 'base.html' %}

{% block title %}
Parking system|
{% endblock %}
{% load staticfiles %}
{% block content %}
<div id="sitebg" style="width:100%;height: 110%; text-align: center;margin: 0 auto;position: absolute;"></div>
<div>
    <div id="windows1">
        <div style="height: 50px;"></div>
        <div id="loginbox" style=" border: 1px solid #f1f1f1;background-color: rgba(0,0,0, 0.4); padding: 20px;">
               
            <h1  style="color:white ; margin-bottom: 50px;"> Choose the site nearest to you </h1>
               <!-- {% for rate in rates %}
               <h4>  {{ rate.pay_per_time }}</h4>
                {% endfor %} -->
            <table class="table">
                    <thead>                        
                            <i class="fas fa-warehouse" style="font-size: 50px; color: white ;float : left ; padding-bottom: 20px;padding-left: 170px;"></i>
                            <i class="fas fa-dollar-sign" style="font-size: 50px; color: white ;float : right ; padding-bottom: 20px;padding-right: 210px;"></i>
                    </thead>
                    <tbody>

                        {% for item,rate in zipped_data %}
                        <tr>
                            <td>
                                <h4 style="padding-left: 150px; "> <a style="color:white" href="/carposition/book/{{ item.pk }}"> {{ item.site_address}}</a>   </h4>
                            </td>
                            
                            <td>                    
                                <h4 style="color:white ; float: right ; padding-right: 150px;">  Rs. {{ rate.pay_per_time }}/hour</h4>
                            </td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
            </table>                    
        </div>        
    </div>            
</div>

<!-- <div id="templatemo_banner_slide" class="container_wapper">
    <div class="camera_wrap camera_emboss" id="camera_slide">
        <div data-src="{% static '/login/images/banner_slide_01.jpg' %}"></div>
        <div data-src="{% static '/login/images/banner_slide_02.jpg'  %}"></div>
        <div data-src="{% static '/login/images/banner_slide_03.jpg'  %}"></div>
        <div data-src="{% static '/login/images/banner_slide_04.jpg'  %}"></div>
        <div data-src="{% static '/login/images/banner_slide_05.jpg'  %}"></div>
    </div>
</div> -->

{% endblock %}