{% extends 'base.html' %}

{% block title %}
Parking system|
{% endblock %}
{% load staticfiles %}
{% block content %}

<div style="width:100%;text-align: center;margin: 0 auto;position: absolute;">
        <div id="windows1">
        <div id="loginbox">
               
            <h1  style="color:white"> Choose the site nearest to you </h1>
               <!-- {% for rate in rates %}
               <h4>  {{ rate.pay_per_time }}</h4>
                {% endfor %} -->
            <table class="table">
                    <thead>                        
                                <!--for i in [1,2,3], j in [3,2,1]:   print i,j 
                                {% for x, y in one_and_two %}  {{x}}, {{y}}{% endfor %} -->
                    </thead>
                    <tbody>
                        {% for item,rate in zipped_data %}
                        <tr>
                            <td>
                                <h4 > <a style="color:white" href="/carposition/book/{{ item.pk }}"> {{ item.site_address}}</a>   </h4>
                            </td>
                            
                            <td>                    
                                <h4 >  {{ rate.pay_per_time }}</h4>
                            </td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
            </table>                    
        </div>        
    </div>            
</div>

<div id="templatemo_banner_slide" class="container_wapper">
    <div class="camera_wrap camera_emboss" id="camera_slide">
        <div data-src="{% static '/login/images/banner_slide_01.jpg' %}"></div>
        <div data-src="{% static '/login/images/banner_slide_02.jpg'  %}"></div>
        <div data-src="{% static '/login/images/banner_slide_03.jpg'  %}"></div>
        <div data-src="{% static '/login/images/banner_slide_04.jpg'  %}"></div>
        <div data-src="{% static '/login/images/banner_slide_05.jpg'  %}"></div>
    </div>
</div>

{% endblock %}